<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/dyhy.css">
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
    <style>
        
    </style>
</head>
<body class="whiteBg" style="padding-bottom: 1rem;">
    <section class="new-top">
        <div class="new-top-return"></div>
        <p class="new-top-title">价格明细</p>
        <select name="" id="language">
            <option value="">Engligh</option>
            <option value="">汉语</option>
        </select>
    </section>
    <div class="main">
        <div class="agentPanel">
            <p class="branch-head">价格明细</p>
            <div class="agentTableCon">
                <table class="agentTable">
                <tbody>
                    <tr class="greyTr">
                        <th class="greyTh">一对一</th>
                        <th class="greyTh">小时</th>
                        <th class="greyTh">中期</th>
                        <th class="greyTh">长期</th>
                    </tr>
                    <tr class="whiteTr">
                        <td class="whiteTd">
                            <h1>初级</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                    </tr>
                    <tr class="whiteTr">
                        <td class="whiteTd">
                            <h1>中级</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                    </tr>
                    <tr class="whiteTr">
                        <td class="whiteTd">
                            <h1>高级</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                        <td class="whiteTd">
                            <h1>200</h1>
                        </td>
                    </tr>
                </tbody>
                </table> 
                <table class="agentTable">
                    <tbody>
                        <tr class="greyTr">
                            <th class="greyTh">三人教室</th>
                            <th class="greyTh">小时</th>
                            <th class="greyTh">中期</th>
                            <th class="greyTh">长期</th>
                        </tr>
                        <tr class="whiteTr">
                            <td class="whiteTd">
                                <h1>初级</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                        </tr>
                        <tr class="whiteTr">
                            <td class="whiteTd">
                                <h1>中级</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                        </tr>
                        <tr class="whiteTr">
                            <td class="whiteTd">
                                <h1>高级</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                            <td class="whiteTd">
                                <h1>200</h1>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>    
            <div class="public-btn-div public-shadow">
                <a class="public-bottom-btn" href="javascript:void(0)">联系我们</a>
            </div>
        </div>    
    </div>    

    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!--<script src="static/less/3.0.4/less.min.js"></script>-->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
</body>
    

</html>