<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" href="css/alert.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/public.less"> -->
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <link rel="stylesheet" href="css/dyhy.css">
    <title>PayWay门店通</title>
</head>
<body style="padding-bottom: 1.5rem">
    <section class="new-top">
        <div class="new-top-return"></div>
        <p class="new-top-title">能力测试</p>
        <select name="" id="language">
            <option value="">Engligh</option>
            <option value="">汉语</option>
        </select>
    </section>
    <div class="acti">
        <section class="task-top">
            <p class="task-title">能力测试</p>
            <ul class="task-top-items">
                <li class="task-top-info">进行简单能力测试，寻找适合自己的课程</li>
                <li class="task-top-info">预计耗时2分钟</li>
            </ul>
        </section>

        <section class="task-list acti-list">
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-1">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-1">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-1">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-1">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-3">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-3">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-3">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-3">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-7">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-7">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-7">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-7">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-8">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-8">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-8">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-8">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-9">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-9">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-9">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-9">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
            <div class="task-two task-other">
                <p class="task-two-title">他（）着太阳眼镜(10分)
                </p>
                <p class="task-two-info">请选择正确答案</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" class="correct" name="task-judge-10">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">穿
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-10">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">带</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-10">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">挂</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-10">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">戴</div>
            </div>
                
        </section>

        <div class="public-bottom-simple public-float-bottom">
            <a class="public-simple-btn pass" href="javascript: void(0)">
                提交
            </a>
            <a class="public-simple-btn reject" href="javascript: void(0)">
                重置
            </a>
        </div>
    </div>

    

    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <script src="static/less/3.0.4/less.min.js"></script>
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
    <script>

        $(function(){
            $('.task-list').on('click','.task-one',function(){
                var display= $(this).siblings('.task-list-main').css('display');
                
                if (display=='block') {
                    $(this).children('.task-one-btn').removeClass('task-one-up');
                }else{
                    $(this).children('.task-one-btn').addClass('task-one-up');
                }
                $(this).siblings('.task-list-main').slideToggle();
            })
            $('.public-bottom-btn').click(function(){
                $('.acti').show();
                $('.acti-map').hide();
            })
            $('.task-judge').click(function(){
                let that = $(this).find('input');
                let name = that.attr('name');
                $.each($(`input[name=${name}]`),function(){
                    $(this).removeAttr('checked');
                })
                that.attr('checked',true);
            })
            $('.public-simple-btn.pass').click(function(){
                let info;

                info = '菜鸟';
                myShow.show(1, '参考结果', info , function () {      //图标,标题,信息,关闭按钮回调函数   如果要隐藏 则调用info.hide();
                    myShow.hide();
                });
            })
            
        })
    </script>
</body>

</html>