<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/public.less"> -->
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
</head>
<body>
    <section class="create-nav">
        <ul class="create-nav-items">
            <li class="create-nav-list create-nav-hover">进行中</li>
            <li class="create-nav-list">已保存</li>
            <li class="create-nav-list">整改中</li>
            <li class="create-nav-list">已完成</li>
        </ul>
        <img class="create-nav-btn" src="img/svg/icon-nav.svg" alt="">
        <img class="create-nav-search" src="img/svg/icon-search-2.svg" alt="">
        <div class="create-nav-down">
            <p class="create-down-title">全部类型</p>
            <ul class="create-down-nav">
                <li class="create-down-list">常规任务</li>
                <li class="create-down-list">整改任务</li>
                <li class="create-down-list">自建任务</li>
            </ul>
        </div>
        <div class="create-search-div">
            <section class="public-search">
                <div class="public-search-div">
                    <img class="public-search-btn" src="img/svg/icon-search.svg" alt="">
                    <input class="public-search-input" type="text" placeholder="请输入门店名称">
                </div>
            </section>
        </div>
    </section>
    <div class="public-bg-low"></div>

    

    <section class="create-main">
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class create-title-1">常规任务</span>
                <span class="create-title-time task-list-center">15:58</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">任务日期：2018-06-11</li>
                <li class="create-info-list">2028任务执行人员：张小明</li>
                <li class="create-info-list">2028创建人员：李小鹏</li>
            </ul>
        </div>
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class create-title-2">整改任务</span>
                <span class="create-title-time task-list-center">15:58</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">任务日期：2018-06-11</li>
                <li class="create-info-list">2028任务执行人员：张小明</li>
                <li class="create-info-list">2028创建人员：李小鹏</li>
            </ul>
        </div>
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class create-title-3">自建任务</span>
                <span class="create-title-time task-list-center">15:58</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">任务日期：2018-06-11</li>
                <li class="create-info-list">2028任务执行人员：张小明</li>
                <li class="create-info-list">2028创建人员：李小鹏</li>
            </ul>
        </div>
    </section>

    <div class="public-btn-div public-float-bottom">
        <a class="public-bottom-btn" href="javascript:void(0)">自建任务</a>
    </div>
    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!-- <script src="static/less/3.0.4/less.min.js"></script> -->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>

    <script>
        $('.create-nav').on('click','.create-nav-list',function(){
            $(this).addClass('create-nav-hover').siblings('.create-nav-list').removeClass('create-nav-hover');
        })
        
        $('.create-nav-btn').click(function(){
            if ($('.create-search-div').css('display')=='block') {
                $('.create-search-div').hide();
                $('.public-bg-low').hide();
            }
            $('.public-bg-low').toggle();
            $('.create-nav-down').slideToggle();
        })
        $('.create-down-nav').on('click','.create-down-list',function(){
            $(this).addClass('create-down-hover').siblings('.create-down-list').removeClass('create-down-hover');
        })

        $('.public-bg-low').click(function(){
            $('.create-nav-down,.create-search-div').slideUp();
            $('.public-bg-low').hide();
        })

        $('.create-nav-search').click(function(){
            if ($('.create-nav-down').css('display') == 'block') {
                $('.create-nav-down').hide();
                $('.public-bg-low').hide();
            }
            $('.create-search-div').slideToggle();
            $('.public-bg-low').toggle();
        })
    </script>
</body>

</html>