<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
</head>
<body style="background: #fff">
    <section class="info">
        <p class="info-title">促销员信息</p>
        <ul class="info-items">
            <li class="info-list">
                <p class="info-list-title">员工姓名</p>
                <p class="info-list-p">汪东海</p>
            </li>
            <li class="info-list">
                <p class="info-list-title">手机号码</p>
                <p class="info-list-p">18888888888</p>
                <img class="info-list-icon" src="img/svg/icon-tel.svg" alt="">
            </li>
            <li class="info-list">
                <p class="info-list-title">销售门店</p>
                <p class="info-list-p">科勒设计中心</p>
            </li>
        </ul>
    </section>

    <div class="info-bottom">
        删除促销员
    </div>

    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!--<script src="static/less/3.0.4/less.min.js"></script>-->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
</body>

</html>