<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/public.css"> -->
    <!-- <link rel="stylesheet/less" type="text/css" href="css/public.less"> -->
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
</head>
<body>
    <section class="select">
        <p class="select-title">选择门店</p>
        <section class="public-search">
            <div class="public-search-div">
                <img class="public-search-btn" src="img/svg/icon-search.svg" alt="">
                <input class="public-search-input" type="text" placeholder="请输入门店名称">
            </div>
        </section>
        <ul class="select-items">
            <li class="select-list">喜盈门国际店</li>
            <li class="select-list">好饰家装饰精品城</li>
            <li class="select-list">红星美凯龙</li>
            <li class="select-list">金盛铜川生活馆</li>
            <li class="select-list">上海宜山路喜盈门展厅</li>
            <li class="select-list">上海凯旋路展厅</li>
            <li class="select-list">红星美凯龙-真北老红星</li>
            <li class="select-list">好饰家装饰精品城</li>
            <li class="select-list">浦东旗舰店</li>
        </ul>
    </section>

    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!-- <script src="static/less/3.0.4/less.min.js"></script> -->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
</body>

</html>