<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/public.less"> -->
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
</head>
<body>
    <section class="set">
        <div class="branch-list set-top">
            <p class="branch-list-title set-list-title">业务类型</p>
            <div class="public-select branch-list-c">
                <select class="branch-list-c">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="set-main">
            <p class="set-title">人员列表</p>
            <p class="set-add">新增促销员</p>
            <div class="task-judge set-judge">
                <div class="public-radio">
                    <input type="checkbox" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">李强</div>
            </div>
            <div class="task-judge set-judge">
                <div class="public-radio">
                    <input type="checkbox" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">汪东海</div>
            </div>
            <div class="task-judge set-judge">
                <div class="public-radio">
                    <input type="checkbox" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">张三</div>
            </div>
        </div>
    </section> 
    <div class="public-btn-div public-float-bottom">
        <a class="public-bottom-btn" href="javascript:void(0)">提交</a>
    </div>


    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!-- <script src="static/less/3.0.4/less.min.js"></script> -->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
</body>

</html>