<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/public.less"> -->
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
</head>

<body>
    <section class="public-search">
        <div class="public-search-div">
            <img class="public-search-btn" src="img/svg/icon-search.svg" alt="">
            <input class="public-search-input" type="text" placeholder="请输入门店名称">
        </div>
    </section>

    <section class="store-filter">
        <ul class="store-filter-items">
            <li class="store-filter-list">全部</li>
            <li class="store-filter-list">业务状态</li>
            <li class="store-filter-list">签核状态</li>
        </ul>
        <ul class="store-down-items">
            <!-- 全部 -->
            <li class="store-down-list">
                <p class="store-down-judge store-down-hover">全部</p>
                <p class="store-down-judge">华东区</p>
                <p class="store-down-judge">华中区</p>
                <p class="store-down-judge">华北区</p>
                <p class="store-down-judge">华南区</p>
                <p class="store-down-judge">西北区</p>
                <p class="store-down-judge">西南区</p>
                <ul class="store-down-child">
                    <li class="store-down-judge">山东</li>
                    <li class="store-down-judge">江苏</li>
                </ul>
            </li>
            <li class="store-down-list">
                <p class="store-down-judge">全部</p>
                <p class="store-down-judge">装修中</p>
                <p class="store-down-judge">营业中</p>
                <p class="store-down-judge">关闭</p>
            </li>
            <li class="store-down-list">
                <p class="store-down-judge">签核状态1</p>
                <p class="store-down-judge">签核状态2</p>
                <p class="store-down-judge">签核状态3</p>
            </li>
            <!-- 全部 END-->
        </ul>
    </section>
    <!-- 黑色透明背景 -->
    <div class="public-bg-low"></div>
    <!-- 黑色透明背景 END-->
    <section class="store-main">
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class">装修中</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">门店类别：SBP(专营店)</li>
                <li class="create-info-list">2028门店所属：一级代理商</li>
                <li class="create-info-list">028签核状态：<span class="text-point">未审核 (审核人：汪东海)</span></li>
                <li class="create-info-btn">签核</li>
            </ul>
        </div>
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class create-title-1">营业中</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">门店类别：SBP(专营店)</li>
                <li class="create-info-list">2028门店所属：一级代理商</li>
                <li class="create-info-list">028签核状态：
                    <span class="text-point text-pass">已审核</span>
                </li>
                <li class="create-info-btn">签核</li>
            </ul>
        </div>
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class">装修中</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">门店类别：SBP(专营店)</li>
                <li class="create-info-list">2028门店所属：一级代理商</li>
                <li class="create-info-list">028签核状态：
                    <span class="text-point">已驳回 (审核人：汪东海)</span>
                </li>
                <li class="create-info-btn">签核</li>
            </ul>
        </div>
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class">装修中</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">门店类别：SBP(专营店)</li>
                <li class="create-info-list">2028门店所属：一级代理商</li>
                <li class="create-info-list">028签核状态：
                    <span class="text-point">已驳回 (审核人：汪东海)</span>
                </li>
                <li class="create-info-btn">签核</li>
            </ul>
        </div>
        <div class="create-list">
            <p class="create-title">
                科勒设计中心
                <span class="create-title-class">装修中</span>
            </p>
            <ul class="create-info-items">
                <li class="create-info-list">门店类别：SBP(专营店)</li>
                <li class="create-info-list">2028门店所属：一级代理商</li>
                <li class="create-info-list">028签核状态：
                    <span class="text-point">已驳回 (审核人：汪东海)</span>
                </li>
                <li class="create-info-btn">签核</li>
            </ul>
        </div>
    </section>
    <section class="public-none">
        <img src="img/img-none.png" alt="">
    </section>

    <div class="public-btn-div public-float-bottom">
        <a class="public-bottom-other" href="javascript:void(0)">新增网点</a>
    </div>

    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!-- <script src="static/less/3.0.4/less.min.js"></script> -->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
    <script>
        $(function(){
            $('.store-filter').on('click','.store-filter-list',function(){
                if ($(this).hasClass('store-filter-hover')) {
                    $(this).removeClass('store-filter-hover');
                    $('.store-down-list').slideUp();
                    $('.public-bg-low').hide();
                    return;
                }
                $(this).addClass('store-filter-hover').siblings('.store-filter-list').removeClass('store-filter-hover');
                var index = $(this).index();

                $('.store-down-list').eq(index).slideDown().siblings('.store-down-list').hide();
                $('.public-bg-low').show();
            })

            $('.public-bg-low').click(function () {
                $('.store-filter-list').removeClass('store-filter-hover');
                $('.store-down-list').slideUp();
                $('.public-bg-low').hide();
            })
            
            $('.store-filter').on('click','.store-down-judge', function () {
                $(this).addClass('store-down-hover').siblings('.store-down-judge').removeClass('store-down-hover')
            })
            
            judgeLength();
        })

        function judgeLength(){     //判断是否存在数据
            if (!$('.store-main .create-list').length == true) {
                $('.store-main').hide();
                $('.public-none').show();
            }else{
                $('.public-none').hide();
                $('.store-main').show();
            }
        }
    </script>
</body>

</html>