<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet/less" type="text/css" href="css/public.less">
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
</head>
<body style="padding-bottom: 1.5rem">
    <section class="task-top">
        <p class="task-title">科勒设计中心</p>
        <ul class="task-top-items">
            <li class="task-top-info">任务日期: 2000-00-00</li>
            <li class="task-top-info">任务类型: 自建任务</li>
        </ul>
        <!-- <img class="audit-state" src="img/svg/icon-audit-pass.svg" alt=""> -->
        <!-- <img class="audit-state" src="img/svg/icon-audit-no.svg" alt=""> -->
        <img class="task-state" src="img/svg/icon-audit-done.svg" alt="">
    </section>

    <section class="task-list">
        <div class="task-one">POS VI
            <span class="task-list-grade">(50分)</span>
            <div class="task-one-btn task-one-up task-list-center"></div>
        </div>
        <div class="task-list-main">
            <div class="task-two">
                <p class="task-two-title">LADV
                    <span class="task-list-center task-bule-number">15</span>
                </p>
                <p class="task-two-info">此项分值上限30分 <span class="public-right">得分</span></p>
            </div>

            <p class="task-three">在店外是否有品牌形象画 
                <img class="task-list-center task-issue" src="img/svg/icon-issue.svg" alt="">
            </p>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-1">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">有</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-1">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">没有</div>
            </div>

            <p class="task-three">从进门店到展厅是否有吊旗、X展架、地贴、龙门架
                <img class="task-list-center task-issue" src="img/svg/icon-issue.svg" alt="">
            </p>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">有
                    <div class="task-list-center">
                        <span class="task-bule-number">15</span>
                        <span>分</span>
                    </div>
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-2">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">没有</div>
            </div>
            <div class="task-upload">
                <p class="task-up-title">上传几张现场照片吧(可提供异常局部图)</p>
                <ul class="task-up-items">
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-add"></li>
                </ul>
            </div>

            <p class="task-three">进入展厅内吊旗、礼品包装、堆头、地贴
                <img class="task-list-center task-issue" src="img/svg/icon-issue.svg" alt="">
            </p>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-3">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">有</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-3">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">没有</div>
            </div>
            <div class="task-two">
                <p class="task-two-title">终端展台形象
                    <span class="task-list-center task-bule-number">5</span>
                </p>
                <p class="task-two-info">此项分值上限20分
                    <span class="public-right">得分</span>
                </p>
            </div>

            <p class="task-three">门头和Logo(商标)是否符合公司的标准，无破损及遮挡(0~10分)
                <img class="task-list-center task-issue" src="img/svg/icon-issue.svg" alt="">
            </p>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">忽略</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">正常</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-4">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">异常</div>
            </div>

            <div class="task-two task-other">
                <p class="task-two-title">产品展示遵循从高到低的有序排列顺序(0-5分)
                    <img class="task-list-center task-issue" src="img/svg/icon-issue.svg" alt="">
                </p>
                <p class="task-two-info">一处不符合条件扣2分，扣完为止</p>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">忽略</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">正常</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-5">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">异常
                    <div class="task-list-center">
                        <input class="task-bule-input" type="text" placeholder="请输入">
                        <span>分</span>
                    </div>
                </div>
            </div>
            <div class="task-upload">
                <p class="task-up-title">上传几张现场照片吧(可提供异常局部图)</p>
                <ul class="task-up-items">
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-img">
                        <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                        <img src="img/svg/icon-audit-pass.svg" alt="">
                    </li>
                    <li class="task-up-add"></li>
                </ul>
            </div>

            <p class="task-three">壁挂炉出样型号是否和展板说明牌标示型一一对应(0-5分)
                <img class="task-list-center task-issue" src="img/svg/icon-issue.svg" alt="">
            </p>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">忽略</div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">正常
                    <div class="task-list-center">
                        <span class="task-bule-number">5</span>
                        <span>分</span>
                    </div>
                </div>
            </div>
            <div class="task-judge">
                <div class="public-radio">
                    <input type="radio" name="task-judge-6">
                    <div class="public-style"></div>
                </div>
                <div class="task-judge-info">异常</div>
            </div>
        </div>
    </section>
    <section class="task-list">
        <div class="task-one">Display
            <span class="task-list-grade">(30分)</span>
            <div class="task-one-btn task-one-up task-list-center"></div>
        </div>
    </section>
    <section class="task-list">
        <div class="task-one">PTR Schedule/performance
            <span class="task-list-grade">(20分)</span>
            <div class="task-one-btn task-one-up task-list-center"></div>
        </div>
    </section>

    <section class="task-bottom">
        <p class="task-bottom-title">备注</p>
        <textarea class="task-remark-info" placeholder="请输入内容"></textarea>
    </section>
    <section class="task-bottom">
        <p class="task-bottom-title">上传几张现场照片吧</p>
        <p class="task-upload-info">(请提供门头、样机陈列和内部全景图)</p>
        <ul class="task-up-items">
            <li class="task-up-img">
                <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                <img src="img/svg/icon-audit-pass.svg" alt="">
            </li>
            <li class="task-up-img">
                <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                <img src="img/svg/icon-audit-pass.svg" alt="">
            </li>
            <li class="task-up-info">门头</li>
        </ul>
        <ul class="task-up-items">
            <li class="task-up-img">
                <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                <img src="img/svg/icon-audit-pass.svg" alt="">
            </li>
            <li class="task-up-img">
                <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                <img src="img/svg/icon-audit-pass.svg" alt="">
            </li>
            <li class="task-up-info">样机</li>
        </ul>
        <ul class="task-up-items">
            <li class="task-up-img">
                <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                <img src="img/svg/icon-audit-pass.svg" alt="">
            </li>
            <li class="task-up-img">
                <img class="task-up-close" src="img/svg/icon-imgclose.svg" alt="">
                <img src="img/svg/icon-audit-pass.svg" alt="">
            </li>
            <li class="task-up-info">整体</li>
        </ul>
        <ul class="task-up-items">
            <li class="task-up-add"></li>
        </ul>
    </section>

    <div class="public-btn-div public-float-bottom" style="margin-top: .3rem">
        <a class="public-bottom-btn" href="javascript:void(0)">提交</a>
    </div>

    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <script src="static/less/3.0.4/less.min.js"></script>
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
    <script>

        $(function(){
            $('.task-list').on('click','.task-one',function(){
                var display= $(this).siblings('.task-list-main').css('display');
                
                if (display=='block') {
                    $(this).children('.task-one-btn').removeClass('task-one-up');
                }else{
                    $(this).children('.task-one-btn').addClass('task-one-up');
                }
                $(this).siblings('.task-list-main').slideToggle();
            })
            $('.task-up-items').on('click','.task-up-close',function(){
                $(this).parent('.task-up-img').remove();
            })
        })
    </script>
</body>

</html>