<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait/landscape">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <base href="../">
    <!-- <link rel="stylesheet" href="static/layui/2.3.0/css/layui.css"> -->
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- <link rel="stylesheet" href="static/weui/jquery-weui-1.2.0.min.css">
    <link rel="stylesheet" href="static/weui/weui-1.1.2.min.css"> -->
    <title>PayWay门店通</title>
    <style>
        
    </style>
</head>
<body class="whiteBg">
    <div class="main">
        <div class="searchCon">
            <div class="wrapper">
                <div class="inputCon">
                    <div class="inputWrapper">
                        <div class="iconSearch"></div>
                        <input type="text" class="inputTxt" placeholder="搜索你想要的">
                    </div>    
                </div>    
            </div>    
        </div>
        <div class="trainRefPanel">
            <ul>
                <li>
                    <a href="javascript:;">
                        <div class="icon">
                            <img src="img/svg/icon-up.svg" width="100%"/>
                        </div>
                        <div class="txtConAll">
                            <div class="txtCon">
                                <h1 class="titleTxt">门店培训资料</h1>
                                <p class="timeTxt">3天前</p>
                            </div>    
                        </div>    

                    </a>
                </li> 
                <li>
                    <a href="javascript:;">
                        <div class="icon">
                            <img src="img/svg/icon-up.svg" width="100%"/>
                        </div>
                        <div class="txtConAll">
                            <div class="txtCon">
                                <h1 class="titleTxt">门店培训资料</h1>
                                <p class="timeTxt">3天前</p>
                            </div>    
                        </div> 
                    </a>
                </li>  
                <li>
                    <a href="javascript:;">
                        <div class="icon">
                            <img src="img/svg/icon-up.svg" width="100%"/>
                        </div>
                        <div class="txtConAll">
                            <div class="txtCon">
                                <h1 class="titleTxt">门店培训资料</h1>
                                <p class="timeTxt">3天前</p>
                            </div>    
                        </div> 
                    </a>
                </li> 
                <li>
                    <a href="javascript:;">
                        <div class="icon">
                            <img src="img/svg/icon-up.svg" width="100%"/>
                        </div>
                        <div class="txtConAll">
                            <div class="txtCon">
                                <h1 class="titleTxt">门店培训资料</h1>
                                <p class="timeTxt">3天前</p>
                            </div>    
                        </div> 
                    </a>
                </li>  
            </ul>    
        </div>    
    </div>    
    <script src="static/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="static/weui/jquery-weui-1.2.0.min.js"></script> -->
    <script src="static/setSize/setSize.js"></script>
    <!--<script src="static/less/3.0.4/less.min.js"></script>-->
    <!-- <script src="static/layui/2.3.0/layui.all.js"></script>
    <script type="text/javascript" src="static/assets/data.js"></script>
    <script type="text/javascript" src="static/assets/province.js"></script> -->
    <script src="js/public.js"></script>
</body>
    

</html>